<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators my-5">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100vh"> 
        <img src="https://i.imgur.com/Z0wIDjz.gif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block bg-none mb-5">
          <h1>Bienvenidos a Domusic 🎵</h1>
          <h1>Vive la musica, disfrutala en compañia.</h1>
        </div>
      </div>
      <div class="carousel-item" style="height: 100vh">
        <img src="https://media0.giphy.com/media/8YvrPyKfNyuRfLwyND/source.gif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block bg-none mb-5">
          <h1>Disfruta tu pasion por la musica</h1>
          <h1>En cualquier momento y lugar 🎸</h1>
        </div>
      </div>
      <div class="carousel-item" style="height: 100vh">
        <img src="https://media2.giphy.com/media/fGI4pHRtw9Ig1n4gmn/giphy.gif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block bg-none mb-5">
          <h1>Abrete camino con tu musica</h1>
          <h1>Demuestra tu talento 🎼</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<style>
  .container {
    height: 1px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: -40000%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  </style>
  
  <div class="container">
    <div class="center">
      <a class="btn btn-primary btn-lg btn-block" *ngIf="!estaLogueado" href="/seguridad/login" role="button">Ingresar</a>
      <a class="btn btn-secondary btn-lg btn-block" *ngIf="!estaLogueado" href="/perfiles/tipo-perfil" role="button">Registrarse</a>
    </div>
  </div>
  