.btn-primary{
    background-color: #324454 !important;
    border-color: #1B252E !important;
    margin-bottom: 1%;
  }

  .btn-primary:hover{
    background-color: #506D87 !important;
    border-color: #324454 !important;
  }