<footer class="page-footer font-small colorDoMusic1 pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold"><i class="fas fa-compact-disc"></i>DoMusic</h5>
        <p>Pensamos en la musica y en ti, encuentrasnos en:</p>
        <div class = "redes" >
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-youtube-square"></i></a>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="info">
          <a href="#">Politicas del Servicio</a><br>
          <a href="#">Contacto</a><br>
          <a href="#">Soporte y Ayuda</a><br>
          <a href="#">Acenca de <i class="fas fa-compact-disc"></i>DoMusic</a>
        </div>
      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright <i class="fas fa-compact-disc"></i>DoMusic
  </div>

</footer>