.btn-primary{
    margin-right: 3%;
}

.container{
    max-width: 70%;
}

.btn-primary{
    
    background-color:  #32485a;
    border-color: #2A3A47;
    height: 3%;
}
.btn-primary:hover{
    background-color:#1B252E;
}

.bg-primary{
	background-color: #d6e0e9 !important;
	height: 7%;
	color:#1B252E;
	border-color: #1B252E;
}

img {
    padding:1px;
    border:1px solid #021a40;
    background-color:#ff0;
 }

 .signup-form form {
	color: #999;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 2%;
}

.col-md-8{
    margin-top: 5%;
}

.tamaño{
    margin-top: 10%;
    width: 95% !Important;
    left: 80% !Important;
    margin-bottom:5% ;
  }