.btn-primary{
    margin-right: 3%;
}

.container{
    max-width: 70%;
}

.btn-primary{
    margin-top: 2%;
    background-color:  #32485a;
    border-color: #2A3A47;
    height: 3%;
}
.btn-primary:hover{
    background-color:#1B252E;
}

.bg-primary{
	background-color: #d6e0e9 !important;
	height: 7%;
	color:#1B252E;
	border-color: #1B252E;
}

img {
    padding:1px;
    border:1px solid #021a40;
    background-color:#ff0;
 }
