<br />
<a class="btn btn-success btn" routerLink="/publicaciones/crear-publicaciones" role="button">Nueva Publicacion</a>
<a class="btn btn-success btn" routerLink="/encuestas/crear-encuestas" role="button">Crear encuesta</a>
<br>
<br />
<!-- 
<table class="table">
    <thead class="table-dark">
        <tr>
            <td>
                Título
            </td>
            <td>
                Fecha
            </td>
            <td>
                Contenido
            </td>
            <td>
                Modificar
            </td>
            <td>
                Eliminar
            </td>
            <td>
                Denunciar
            </td>
            <td>
                Reacciones
            </td>
            <td>
                Comentarios
            </td>
            <td>
                Comentarios
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: publiPorPagina, currentPage: pagina}">
            <td>
                {{r.titulo}}
            </td>
            <td>
                {{r.fecha}}
            </td>
            <td>
                {{r.contenido}}
            </td>

            <td>
                <a class="btn btn-warning" routerLink="/publicaciones/modificar-publicaciones/{{r.idPublicacion}}"
                    role="button">Modificar</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="ConfirmarEliminacion(r.idPublicacion)">
                    Eliminar
                </button>
            </td>
            <td>
                <a class="btn btn-primary" routerLink="/denuncias-p/denuncias/{{r.idPublicacion}}"
                    role="button">Denunciar</a>
            </td>
            <td>
                <imput>
                    {{r.reacciones}}
                </imput>
                <button type="button" class="btn btn-dark" (click)="reaccionar(r.idPublicacion)">
                    Reaccionar
                </button>
            </td>
            <td>
                <a class="btn btn-primary" routerLink="/parametros/comentarios/{{r.idPublicacion}}"
                    role="button">Comentarios</a>
            </td>
            <td>
                <a class="btn btn-primary" routerLink="/parametros/crear-comentarios/{{r.idPublicacion}}"
                    role="button">Comentar</a>
            </td>
        </tr>
    </tbody>
</table>

 -->

<div class="container" *ngFor="let p of recordList | paginate: { itemsPerPage: publiPorPagina, currentPage: pagina}">
    <div class="align-middle">
        <div class="card booking-card d-block mb-4">
            <!--<div class="portada d-flex justify-content-between">
                         <div>
                            <img src="http://localhost:3000/files/1/{{perfiles[i].idMusicoProfesional}}"
                            <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                class="foto-perfil d-inline img-fluid mr-2">
                            <h6 class="d-inline" >
                                {{perfiles[i].nombre}} {{perfiles[i].apellido}}
                            </h6>
                        </div> 
                    </div>
                    <hr>
                    -->
            <div class="view overlay">
                <img class="card-img-top" src="http://localhost:3000/files/2/{{p.idPublicacion}}" alt="Card image cap">
                <!-- <img class="card-img-top" src="https://thumbs.dreamstime.com/z/ilustraci%C3%B3n-art%C3%ADstica-de-la-m%C3%BAsica-23308702.jpg" alt="Card image cap"> -->
            </div>



            <div class="card-body">

                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title font-weight-bold">{{p.titulo}}</h4>
                    </div>
                    <a class="nav-link dropdown-toggle d-inline"  id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button type="button" class="btn btn-danger" (click)="ConfirmarEliminacion(p.idPublicacion)">
                            Eliminar
                        </button>
                        <a class="dropdown-item" routerLink="/publicaciones/modificar-publicaciones/{{p.idPublicacion}}">Editar Publicacion</a>
                        <a routerLink="/denuncias-p/denuncias/{{p.idPublicacion}}" class="dropdown-item"
                            >Denunciar</a>
                    </div>

                </div>

                <p class="card-text color">{{p.contenido}}</p>
                <p class="mr-2 d-inline color p">{{p.fecha}}</p>
                <hr class="my-2">

            </div>


            <div class="d-flex justify-content-between">
                <button type="button" (click)="reaccionar(p.idPublicacion)" class="btn btn-outline-primary mx-2 my-2"><i
                        class="far fa-star"></i>
                        {{p.reacciones}}  Reacciona</button>
                <button type="button" routerLink="/comentarios/crear-comentarios/{{p.idPublicacion}}"
                    class="btn btn-outline-primary mx-2 my-2"><i class="fas fa-comment-medical"></i> Comenta</button>
                <button type="button" routerLink="/comentarios/listar-comentarios/{{p.idPublicacion}}"
                    class="btn btn-outline-primary mx-2 my-2"><i class="far fa-comments"></i>
                    Ver comentarios</button>
            </div>
        </div>

        

    </div>
</div>


<pagination-controls (pageChange)="pagina = $event" nextLabel="Siguiente" previousLabel="Anterior" class="pagination">
</pagination-controls>

<ngx-spinner></ngx-spinner>
<div class="modal" id="confirmarEliminacion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion de Eliminacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de eliminar esta publicacion?
            </div>
            <div class="modal-footer">
                <button (click)="EliminarPubli()" type="button" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>
