<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="http://localhost:3000/files/1/{{perfilUsuario.idMusicoProfesional}}"
                        class="img-fluid rounded">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h4>{{perfilUsuario.nombre}} {{perfilUsuario.apellido}}</h4>
                    <h5>{{perfilUsuario.tipo}}</h5>
                    <h5>Genero Musical: {{perfilUsuario.generoMusica}}</h5>
                    <!-- <h5>Banda: PlanetShekeers</h5> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Tus Publicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Tus Fotos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <!-- <a class="profile-edit-btn" ruterLink="modificar-perfil/{{perfilUsuario.idMusicoProfesional}}" name="btnAddMore">Editar Perfil</a> -->
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Editar Perfil"/><br>
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Seguir" /><br>
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Chatear" /><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <br>
                <div class="profile-work">
                    <h4>Más Información</h4>
                    <a href="">Correo: {{perfilUsuario.correo}}</a><br />
                    <a href="">Telefono: {{perfilUsuario.celular}}</a><br />
                    <a href="">Pais: {{perfilUsuario.ciudad}}</a> <br>
                    <a href="">Fecha de Nacimiento: {{perfilUsuario.fechaNacimiento}}</a><br />
                    <a href="">Genero: {{perfilUsuario.genero}}</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    
                </div>
            </div>
        </div>
    </form>
</div>