<br />
<br />
<!-- <table class="table">
    <thead class="table-dark">
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Tipo
            </td>
            <td>
                Género musical
            </td>
            <td>
                Correo
            </td>
            <td>
                Denunciar
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.tipo}}
            </td>
            <td>
                {{r.generoMusica}}
            </td>
            <td>
                {{r.correo}}
            </td>
            <td>
                <button type="button" routerLink="/denuncias/denuncias/{{r.idMusicoProfesional}}"
                    class="btn btn-danger">
                    Denunciar
                </button>
            </td>
            <td>
                <button type="button" routerLink="/mensajes/crear-mensajes/{{r.idMusicoProfesional}}"
                    class="btn btn-primary">
                    Enviar mensaje
                </button>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="container">

    <div class="card-columns d-inline elements mx-3" *ngFor="let p of recordList">
        <div class="card mb-4" style="width: 18rem;">
            <div class="view overlay d-flex justify-content-center">
                <img class="card-img-top img img-fluid rounded mt-4" src="http://localhost:3000/files/1/{{p.idMusicoProfesional}}"
                    alt="Card image cap">
            </div>
            <div class="card-body">
                <div>
                    <h4 class="card-title font-weight-bold text-center">{{p.nombre}} {{p.apellido}}</h4>
                </div>
                <h6 class="card-text color text-center">{{p.generoMusica}}</h6>
                <h6 class="card-text color text-center">{{p.ciudad}}</h6>
                <h6 class="card-text color text-center">{{p.celular}}</h6>
                <h6 class="card-text color text-center">{{p.correo}}</h6>
                <h6 class="card-text color text-center">{{p.fechaNacimiento}}</h6>
                <h6 class="card-text color text-center">{{p.genero}}</h6>
            </div>


            <div class="d-flex justify-content-between">
                <button type="button" routerLink="/denuncias/denuncias/{{p.idMusicoProfesional}}" class="btn btn-outline-primary mx-2 my-2"><i
                        class="fas fa-exclamation-triangle"></i>
                    Denunciar</button>
                <button type="button" routerLink="/mensajes/crear-mensajes/{{p.idMusicoProfesional}}"
                    class="btn btn-outline-primary mx-2 my-2"><i class="fas fa-comment-medical"></i>
                    Enviar Mesaje</button>
            </div>
        </div>
    </div>
</div>

<!--  <pagination-controls (pageChange)="pagina = $event" nextLabel="Siguiente" previousLabel="Anterior" class="pagination">
</pagination-controls>

 <ngx-spinner></ngx-spinner> -->