.login-container {
    margin-top: 3%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 60%;
    margin-bottom: 3%;
    background-color: #dcecfa;
  }
  
  #fl {
    font-weight: 600;
  }
  
  #sl {
    font-weight: 100 !important;
  }
  
  .profile-img {
    text-align: center;
  }
  
  @keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
  }
  
  .login-form {
    padding-top:12%;
  }
  
  .login-form h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  .form-control {
    font-size: 15px;
  }
  
  .forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  }
  
  .tamaño{
    margin-top: 5%;
    width: 95% !Important;
    left: 80% !Important;
    margin-bottom:5% ;
  }

  .btn-primary{
    background-color: #324454 !important;
    border-color: #1B252E !important;
    margin-top: 3%;
  }

  .btn-primary:hover{
    background-color: #506D87 !important;
    border-color: #324454 !important;
  }

  .color-txt{
    color: #506D87;
  }

  .color-txt:hover{
    color: #1B252E;
  }

  .dropdown{
    margin-bottom: 3%;
  }