<div class="container signup-form">
    <div class="row">
        <div class="col-md-4 ">
            <img src="https://image.freepik.com/vector-gratis/saxofon-clasico-notas-musicales_1308-5508.jpg"
                class="img-fluid rounded tamaño" alt="Eniun">
        </div>

        <div class="col-md-8">
            <form [formGroup]="fgValidator" method="post">
                <h2 class="text-center">Escribe tu mensaje <i class="fas fa-compact-disc"></i>
                </h2>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input formControlName="contenido" type="text" class="form-control" name="contenido"
                            placeholder="Contenido" required="required">
                        <div class="warning-validator container"
                            *ngIf="fgv.contenido.errors && (fgv.contenido.dirty || fgv.contenido.touched)">
                            <strong *ngIf="fgv.contenido.errors.required">
                                Este campo es requerido!
                            </strong>
                            <strong *ngIf="fgv.contenido.errors.minlength">
                                Este campo debe tener al menos un caracter!
                            </strong>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <button type="button" (click)="crearMensaje()"
                        class="btn btn-primary justify-content-end btn-lg d-inline">Enviar mensaje</button>

                    <a type="button" class="btn btn-danger justify-content-end btn-lg d-inline"
                        routerLink="/perfiles/profesionales">Cancelar</a>
                </div>
            </form>
        </div>

    </div>
</div>