.colorDoMusic1{
    background-color: #1B252E !important;
}

.btn-outline-secondary:hover {
    background-color: #324454 !important;
    color:white
}

.foto-perfil{
    width: 50px !Important;
    left: 32px !Important;
    border-radius: 50%;
  }

  .text-mayus{
      text-transform: capitalize;
  }

  .text-mayus a{
    text-transform: capitalize;
    margin-top: 1%;
}


