.colorDoMusic1{
    background-color: #1B252E !important;
}

.btn-outline-secondary:hover {
    background-color: #324454 !important;
    color:white
}

.foto-perfil{
    width: 40px !Important;
    left: 40px !Important;
    border-radius: 50%;
  }

.text-mayus{
    text-transform: capitalize;
    margin-top: 1%;
    color: #c5cfe0;
}

.text-mayus:hover{
    color: #c5cfe0;
    font-size: 21px;
}


