<a class="btn btn-success" routerLink="/parametros/crear-publicidad" role="button">Nueva Publicidad</a>
<br />
<br />
<table class="table">
    <thead class="table-dark"> 
        <tr>
            <td>
                Título
            </td>
            <td>
                Contenido
            </td>
            <td>
                Modificar
            </td>
            <td>
                Eliminar
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: publiPorPagina, currentPage: pagina}">
            <td>
                {{r.titulo}}
            </td>
            <td>
                {{r.contenido}}
            </td>
            <td>
                <a class="btn btn-warning" routerLink= "/parametros/modificar-publicidad/{{r.idPublicidad}}" role= "button">Modificar</a>
            </td>
            <td>
                <button type="button" class = "btn btn-danger" (click) = "ConfirmarEliminacion(r.idPublicidad)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="pagina = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
<ngx-spinner></ngx-spinner>
<div class="modal" id= "confirmarEliminacion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación de Eliminación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de eliminar esta publicidad?
        </div>
        <div class="modal-footer">
          <button (click)="EliminarPubli()" type="button" class="btn btn-success" >Confirmar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

        </div>
      </div>
    </div>
  </div>

