<div class="container signup-form">
    <div class="row">
        <div class="col-md-4 ">
            <img src="https://i.pinimg.com/564x/5d/5d/5e/5d5d5ec6ab5784b8d84d990bddab9536.jpg"
                class="img-fluid rounded tamaño" alt="Eniun">
        </div>

        <div class="col-md-8">
            <form [formGroup]="fgValidator" action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">Escribe tu comentario <i class="fas fa-compact-disc"></i>
                    <strong>DoMusic</strong> </h2>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input formControlName="contenido" type="text" class="form-control" name="contenido"
                            placeholder="Contenido" required="required">
                        <div class="warning-validator container"
                            *ngIf="fgv.contenido.errors && (fgv.contenido.dirty || fgv.contenido.touched)">
                            <strong *ngIf="fgv.contenido.errors.required">
                                Este campo es requerido!
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" (click)="crearComentario()"
                        class="btn btn-primary justify-content-end btn-lg d-inline">Comentar</button>

                    <a type="button" class="btn btn-danger justify-content-end btn-lg d-inline"
                        routerLink="/parametros/comentario">Cancelar</a>
                </div>
            </form>


        </div>

    </div>
</div>