<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="colorDoMusic1">
<!--         <ul class="sidebar-nav">
 -->        <li class="side-item" *ngIf="estaLogueado">
                <a class="side-link" routerLink="#">Home</a>
            </li>
            <li class="side-item" *ngIf="estaLogueado">
                <a class="side-link" routerLink="/parametros/notificaciones">Notificaciones</a>
              </li>
              <li class="side-item" *ngIf="estaLogueado">
                <a class="side-link" routerLink="#">Mensajes</a>
              </li>
            <li class="side-item" *ngIf="estaLogueado">
                <a class="side-link" routerLink="/parametros/publicaciones">Publicaciones</a>
              </li>

              <!-- Verificacion de rol -->

<!--               <li class="side-item" *ngIf="estaLogueado">
                <a *ngIf="role == Musico Profesional" class="side-link" routerLink="#">Publicaciones</a>
              </li>

 -->            <li class="side-item dropdown">

                <a class="side-link dropdown-toggle" href="#" id="sideDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="fas fa-cogs"></i> -->
                    Configuraciones
                </a>
                <div class="dropdown-menu" aria-labelledby="sideDropdown">
                  <a class="dropdown-item" routerLink="#">Cambiar Contraseña</a>
                  <a class="dropdown-item" routerLink="#">Modificar Perfil</a>
                </div>
              </li>
            
 -->    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet>

            </router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    
</div>