<div class="container signup-form">
    <div class="row">
        <div class="col-md-4 ">
            <img src="https://i.pinimg.com/564x/5d/5d/5e/5d5d5ec6ab5784b8d84d990bddab9536.jpg"
                class="img-fluid rounded tamaño" alt="Eniun">
        </div>

        <div class="col-md-8">
            <form [formGroup]="fgValidator" action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">Regístrate en <i class="fas fa-compact-disc"></i> <strong>DoMusic</strong> </h2>
                <p class="text-center">Por favor llene el formulario para crear su cuenta</p>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input formControlName="nombre" type="text" class="form-control" name="nombre"
                            placeholder="Su Nombre" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input formControlName="correo" type="email" class="form-control" name="email"
                            placeholder="Correo Electrónico" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                        </div>
                        <input formControlName="fecha" type="date" class="form-control" name="fecha" placeholder="Fecha"
                            required="required">
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select formControlName="codigoPais" class="custom-select" style="max-width: 120px;">
                        <option selected="">+57</option>
                        <option value="1">+972</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                    </select>
                    <input formControlName="telefono" name="" class="form-control" placeholder="Número de Teléfono"
                        type="text">
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select formControlName="pais" class="form-control">
                        <option selected>Pais</option>
                        <option>Colombia</option>
                        <option>Estados Unidos</option>
                        <option>China</option>
                        <option>Rusia</option>
                        <option>Mexico</option>
                        <option>Perú</option>
                    </select>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select formControlName="pais" class="form-control " aria-placeholder="Genero">
                        <option selected>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>

                <!-- <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-users"></i> </span>
                    </div>
                    <select formControlName="tipoPerfil" class="form-control">
                        <option selected="">Tipo de Perfil</option>
                        <option>Aficionado</option>
                        <option>Músico Profesional</option>
                        <option>Banda</option>
                    </select>
                </div> -->

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipo de Perfil
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div>
                            <a class="dropdown-item" data-toggle="collapse" href="#musicoProfesional" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Músico Profesional
                            </a>

                            <a class="dropdown-item" data-toggle="collapse" href="#aficionado" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Aficionado
                            </a>
                            
                            <a class="dropdown-item" data-toggle="collapse" href="#banda" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Banda
                            </a>
                            <a class="dropdown-item" data-toggle="collapse" href="#administrador" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Administrador
                            </a>
                        </div>

                    </div>
                </div>

                <div class="collapse" id="musicoProfesional">
                    <div class="card card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="musicoPerfil" type="text" class="form-control" name="misicoPerfil"
                                    value="Musico Profesional" placeholder="Muisco Profesional" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="generoMusical" type="text" class="form-control" name="generoMusical"
                                placeholder="Genero Musical Favorito">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="tipoMusico" type="text" class="form-control" name="tipoMusico"
                                placeholder="Tipo de Musico">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="collapse" id="aficionado">
                    <div class="card card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="correo" type="email" class="form-control" name="email"
                                    value="Aficionado" placeholder="Aficionado" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="interesMusical" type="text" class="form-control" name="interesMusical"
                                placeholder="Intereses Musicales">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="banda">
                    <div class="card card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="correo" type="email" class="form-control" name="email"
                                    value="Banda" placeholder="Banda" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="integrantes" type="text" class="form-control" name="integrantes"
                                placeholder="Integrantes de la Banda">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                </div>
                                <input formControlName="generoBanda" type="text" class="form-control" name="generoBanda"
                                placeholder="Genero MUsical de la Banda">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <button type="button" (click)="crearPerfil()" class="btn btn-primary btn-lg">Registrarse</button>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------ -->

            </form>
            <div class="text-center">¿Ya tienes una cuenta?<a routerLink="/seguridad/login"
                    class="text-primary color-txt">Ingresa Aquí</a></div>
        </div>

    </div>
</div>