<div class="container signup-form">
    <div class="row">
        <div class="col-md-4 ">
            <img src="https://i.pinimg.com/564x/5d/5d/5e/5d5d5ec6ab5784b8d84d990bddab9536.jpg"
                class="img-fluid rounded tamaño" alt="Eniun">
        </div>

        <div class="col-md-8 justify-content-center">
            <form [formGroup]="fgValidator" action="/examples/actions/confirmation.php" method="post">
                <h2 class="text-center">Regístrate en <i class="fas fa-compact-disc"></i> <strong>DoMusic</strong> </h2>
                <p class="text-center">Por favor llena el formulario para crear tu cuenta de Aficionado</p>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input formControlName="nombre" type="text" class="form-control" name="nombre"
                            placeholder="Nombre" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input formControlName="apellido" type="text" class="form-control" name="apellido"
                            placeholder="Apellido" required="required">
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select formControlName="codigoPais" class="custom-select" style="max-width: 120px;">
                        <option disabled>Codigo del Pais</option>
                        <option selected="true">+57</option>
                        <option value="1">+34</option>
                        <option value="2">+54</option>
                        <option value="3">+41</option>
                    </select>
                    <input formControlName="celular" name="" class="form-control" placeholder="Número de Teléfono"
                        type="text">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input formControlName="correo" type="email" class="form-control" name="email"
                            placeholder="Correo Electrónico" required="required">
                    </div>
                </div>
                
                <label for="">Fecha De Nacimiento:</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                        </div>
                        <input formControlName="fechaNacimiento" type="date" class="form-control" name="fecha"
                            placeholder="Fecha" required="required">
                    </div>
                </div>
                <label>Pais:</label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select formControlName="ciudad" class="form-control">
                        <option selected>Colombia</option>
                        <option>Estados Unidos</option>
                        <option>China</option>
                        <option>Rusia</option>
                        <option>Mexico</option>
                        <option>Perú</option>
                    </select>
                </div>
                <label >Genero:</label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select formControlName="genero" class="form-control " aria-placeholder="Género">
                        <option selected>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>

                <label>Intereses Musicales:</label>
                <div *ngFor="let data of Intereses; let i=index">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" ng-checked="interese.includes(data.value)" (change)="check($event)"
                            [value]="data.value">
                        <label class="custom-control-label" for="customCheck{{i}}">{{data.name}}</label>
                    </div>
                </div> 
                <hr>
                <label>Foto de Perfil:</label>
                <form [formGroup]="cargarArchivoForm" >
                    <div class="container form-group input-group">
                        <input formControlName="file" (change)="onFileSelect($event)" name="image" class="form-control-file bg-primary"
                        type="file">
                        <button type="button"  class="btn btn-primary"  value="Cargar" (click)="cargarArchivo()">
                            <i class="fas fa-angle-double-up "></i> Subir</button>
                    </div>
                </form>

                <div class="form-group">
                    <button type="button" (click)="crearAficionado()"
                        class="btn btn-primary align-middle">Registrarse</button>
                </div>

            </form>
            <div class="text-center">¿Ya tienes una cuenta?<a routerLink="/seguridad/login"
                    class="text-primary color-txt">Ingresa aquí</a>
            </div>
        </div>

    </div>
</div>